*.log
generate_results/
official_IRs/
llvm-project/
fuzz_results
official_IRs
official_IR
fuzz/fuzz_tool
test.mlir
llvm-project
.gitignore
test/
.vscode/launch.json
.gitignore
fuzz/temp
OP_web
OPs
seeds
prompt/prompt_multi1.txt
prompt/prompt_mutate1.txt
prompt/prompt_single1.txt
generate/tests.mlir
generate/test.py
generate_results